:root {
    background-color : papayawhip;
}

#header {
    background-color: midnightblue;
    height : 5%;
    text-align : center;
}

#header a {
    color : white;
}

.container {
    text-align: center;
    margin-top: 10%;
}

ul.hr li {
    font-size : 20px;
    display: inline;
    font-family: "Courier New", Courier, monospace;
    margin : 0 70px 0 70px;
}

.greeting {
    margin-top: 20%;
    text-align: center;
}

#username {
    color : white;
}

table {
    width: 100%;
    margin : auto;
}

td, th {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align : center;
}

.error-img {
    margin-left : 10%;
    width : 80%;
    height : 95%;
    background-image: url("../img/bear.jpg");
    background-repeat: no-repeat;
    background-size : 70%;
}

.error-content {
    position: absolute;
    margin-left: 8%;
    margin-top : 20%;
    width : 15%;
}